<a href="https://colab.research.google.com/github/MuhammadAwais9092/programming-assignment/blob/main/Practise%20work/%2024%20November%20%20Untitled67.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Convert km to miles
km= float(input())
print("Enter km: ")
miles=km/1.609
print(miles)

5
Enter km:
3.107520198881293

In [ ]:
# Convert celsius to fahreheit
celsius= float(input())
print("Enter temperature in Celsius: ")
fahrenheit=celsius*9/5+32
print(fahrenheit)

51
Enter temperature in Celsius:
123.8

In [ ]:
# if number is positive or negative
number= float(input())
print("Enter the number: ")
if number>0:
  print("The number is Even")
elif number==0:
  print("The number is 0")
else:
  print("The number is odd")

-6
Enter the number:
The number is odd

In [ ]:
number= int(input())
print("Enter the number: ")
if number>1:
  for i in range(2,number):
    if(number % i)==0:
      print("the number is not prime")
      break
  else:
    print(number,"The number is  prime")
else:
  print("The number is  prime")

8
Enter the number:
the number is not prime

In [ ]:
#multiplication table
number= int(input("write the number of tavle required "))
for i in range(1, 11):
   print(number*i)

write the number of tavle required 6
6
12
18
24
30
36
42
48
54
60

In [ ]:
number=int(input("enter number"))
num=1
num1=0
num2=1
for i in range(0,number):
  print(num)
  num=num1 + num2
  num1=num2
  num2=num

enter number10
1
1
2
3
5
8
13
21
34
55

In [ ]:
A=input("enter a Word to check")
b= reversed(A)
print(list(A))
if list(b) == list(A):
 print("it is ") 
else:
  print("no")

enter a Word to checkdad
['d', 'a', 'd']
it is

In [62]:
dict = {1: 'a', 2: 'b'}
dict2 = {2: 'c', 4: 'd'}

print({**dict_1,**dict_2})

{1: 'a', 2: 'c', 4: 'd'}

In [68]:
A = input("ENTER A WORD ")

B =input("check for which word ")

print(A.count(B))

ENTER A WORD saaaed
check for which word a
3

In [81]:
a = float(input("num1 :"))
b = float(input("num2 :"))
c = float(input("num3 :"))
if (a>b) and (a > c):
 l=a
elif (b>a) and (b>c):
 l=b
else:
 l=c
print(l,"=")

num1 :22
num2 :23
num3 :34
34.0 =