<a href="https://colab.research.google.com/github/MuhammadAwais9092/programming-assignment/blob/main/Practise%20work/%20November%2011%20Untitled56.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
tuple1=('rose','tulip','sunflower','carnation')
tuple2=('carrot','garlic','tomato','spinach')

print('The first elemnt of the tuple 1 is:',tuple1[0])
print('The first elemnt of the tuple 1 is:',tuple1[1])
print('The first elemnt of the tuple 1 is:',tuple1[2])
print('The first elemnt of the tuple 1 is:',tuple1[3])
print('The first elemnt of the tuple 1 is:',tuple2[0])
print('The first elemnt of the tuple 1 is:',tuple2[1])
print('The first elemnt of the tuple 1 is:',tuple2[2])
print('The first elemnt of the tuple 1 is:',tuple2[3])

# The elements of tuple 1 are
print('\nThe elements of tuple 1 are :',tuple1[0:4])
# The elements of tuple 2 are 
print('The elements of tuple 2 are :',tuple2[0:4])

print('\nTuple 1 elements are :')
for i in tuple1:
  print(i,end=' ')

print('Tuple 2 elements are:') 
for i in tuple2:
  print(i,end=' ')

The first elemnt of the tuple 1 is: rose
The first elemnt of the tuple 1 is: tulip
The first elemnt of the tuple 1 is: sunflower
The first elemnt of the tuple 1 is: carnation
The first elemnt of the tuple 1 is: carrot
The first elemnt of the tuple 1 is: garlic
The first elemnt of the tuple 1 is: tomato
The first elemnt of the tuple 1 is: spinach

The elements of tuple 1 are : ('rose', 'tulip', 'sunflower', 'carnation')
The elements of tuple 2 are : ('carrot', 'garlic', 'tomato', 'spinach')

Tuple 1 elements are :
rose tulip sunflower carnation Tuple 2 elements are:
carrot garlic tomato spinach

In [28]:
leap_year=(2020,2024,2028,2032)
non_leap_year=(2021,2022,2023,2025)
print('The leap years list is:',leap_year[0:4])
print('The non-leap years list is:',non_leap_year[0:4])

#Concatatanation
print('\n The list of leap year and non-leap years is:\n',leap_year+non_leap_year)

# Multiplication
print('\nmultiplication of leap year is:\n',leap_year*4)

# Comparing
print("comparing:")
print(leap_year==non_leap_year)

# Finding length
print("Length of leap year:")
print(len(leap_year))
print("lenght of non-leap years:")
print(len(non_leap_year))

# sum of elements
print("\nsum of leap years:")
print(sum(leap_year))
print("sum of non-leap years:")
print(sum(non_leap_year))

# sorting elements
print("\nsorting of leap years:")
print(sorted(leap_year))
print("sorting of non-leap years:")
print(sorted(non_leap_year))

# swaping of tupples
leap_year,non_leap_year=non_leap_year,leap_year
print('\nlist of non-leap years:',leap_year)
print('list of leap year:',non_leap_year)

The leap years list is: (2020, 2024, 2028, 2032)
The non-leap years list is: (2021, 2022, 2023, 2025)

 The list of leap year and non-leap years is:
 (2020, 2024, 2028, 2032, 2021, 2022, 2023, 2025)

multiplication of leap year is:
 (2020, 2024, 2028, 2032, 2020, 2024, 2028, 2032, 2020, 2024, 2028, 2032, 2020, 2024, 2028, 2032)
comparing:
False
Length of leap year:
4
lenght of non-leap years:
4

sum of leap years:
8104
sum of non-leap years:
8091

sorting of leap years:
[2020, 2024, 2028, 2032]
sorting of non-leap years:
[2021, 2022, 2023, 2025]

list of non-leap years: (2021, 2022, 2023, 2025)
list of leap year: (2020, 2024, 2028, 2032)