<a href="https://colab.research.google.com/github/MuhammadAwais9092/programming-assignment/blob/main/Practise%20work/17%20december%20Untitled66.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
brands=['BMW','Toyota','Nissan']
print('Enter the brand you need:')
car=str(input(brands))
if car in brands:
   print("the car is here")
else:
   print('no car here')

Enter the brand you need:
['BMW', 'Toyota', 'Nissan']Nissan
the car is here

In [21]:
car=['GMC','Dodge','Mustang']
color=['Black','White','Blue']
print("Enter the brand of car you need:")
brand=str(input(car))
if brand in car:
  print("The brand is here:")
  print("Enter the color of car you need")
  color_choice=str(input(color))
  if color_choice in color:
   print("This color is available")
else:
  print("sorry not available")

Enter the brand of car you need:
['GMC', 'Dodge', 'Mustang']bmw
sorry not available

In [26]:
for i in range(11):
 print(i)

0
1
2
3
4
5
6
7
8
9
10

In [28]:
for i in range(15,20):
  print(i)

15
16
17
18
19

In [47]:
number=(int(input('enter rows needed:')))
for i in range(0,number):
  for j in range(i+1):
    print("*",end="")
  print()

enter rows needed:5
*
**
***
****
*****

In [50]:
for i in range(10,50,5):
  print(i,end=' ')

10 15 20 25 30 35 40 45

In [53]:
n=(int(input('enter rows needed:')))
for i in range(n,0,-1):
  for j in range(0,i-1):
    print('*',end='')
  print()

enter rows needed:6
*****
****
***
**
*

In [65]:
n=(int(input('enter rows needed:')))
for i in range(n,0,-1):
  for j in range(0,i-1):
    print(j,end=' ')
  print()

enter rows needed:6
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [59]:
n=(int(input('enter rows needed:')))
for i in range(n,0,+1):
  for j in range(0,i+n1):
    print(j,end='')
  print()

enter rows needed:6

In [72]:
n=int(input('enter number of rows: '))
i=1
while i<=n:
 j=1
 while j<=i:
  print((i*2-1),end=' ')
  j=j+1
 i=i+1
 print()

enter number of rows: 5
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [4]:
n=(int(input('enter rows needed:')))
m=n
for i in range(0,n):
  for j in range(0,m):
    print(end=' ')
  m=m-1
  for j in range(0,1+1):
      print('*',end='  ')
  print()

enter rows needed:9
         *  *
        *  *
       *  *
      *  *
     *  *
    *  *
   *  *
  *  *
 *  *