<a href="https://colab.research.google.com/github/MuhammadAwais9092/programming-assignment/blob/main/Practise%20work/October%20%2027%20Untitled34.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
number=1
while number<=10:
 print(number)
 number=number+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
place_name='\nName place you love to visit:'
place_name+='\nType Quit to End: '
while True:
  place=input(place_name)
  if place=='quit':
    break
  else:
    print('I would love to go to',place.title(),'!')

Name place you love to visit:
Type Quit to End: quit

In [ ]:
count=0
while count<10:
  count+=1
  if count%2==0:
   continue
  print(count)
else:
     print('Loop terminated as number exceeds 10')

1
3
5
7
9
Loop terminated as number exceeds 10

In [ ]:
snacks=['mars','lays','oreo']
for snack in snacks:
  print(snack)

mars
lays
oreo

In [ ]:
flowers=['rose','lily','jasmine','sunflower']
for flower in flowers:
  print(flower)

['rose', 'lily', 'jasmine', 'sunflower']
['rose', 'lily', 'jasmine', 'sunflower']
['rose', 'lily', 'jasmine', 'sunflower']
['rose', 'lily', 'jasmine', 'sunflower']

In [ ]:
student={'name':'rahila','id':'95478','course':'CC'}
print('Display key-value pairs')
for key, value in student.items():
  print(f"\nkey: {key}")
  print(f"value: {value}")

  print('\nDisplay only keys')
  for key in student.keys():
   print(key)

  print('\nDisplay only value')
  for value in student.values():
    print(value)

Display key-value pairs

key: name
value: rahila

Display only keys
name
id
course

Display only value
rahila
95478
CC

key: id
value: 95478

Display only keys
name
id
course

Display only value
rahila
95478
CC

key: course
value: CC

Display only keys
name
id
course

Display only value
rahila
95478
CC

In [ ]:
student1=['name': 'alpha', 'id': '4325', 'course': 'CC']
student2=['name': 'beta', 'id': '9987', 'course': 'CC']
student3=['name': 'gama', 'id': '3698', 'course': 'CC']
student4=['name': 'delta', 'id': '2364', 'course': 'CC']
student=[student1,student2,student3,student4]
for std in student:
  print(std)

SyntaxError: ignored

In [ ]:
sandwich_order=['veggie','grilled cheese','turkey','tuna']
finished_sandwich=[]
while sandwich_order:
  current_sandwich =sandwich_order.pop()
  print("I made your "+current_sandwich+" sandwich.")
  finished_sandwich.append(current_sandwich)

  print("\n")
  print('sandwich order: ')
  for sandwich in finished_sandwich:
   print(sandwich,' sandwich')

I made your tuna sandwich.


sandwich order:
tuna  sandwich
I made your turkey sandwich.


sandwich order:
tuna  sandwich
turkey  sandwich
I made your grilled cheese sandwich.


sandwich order:
tuna  sandwich
turkey  sandwich
grilled cheese  sandwich
I made your veggie sandwich.


sandwich order:
tuna  sandwich
turkey  sandwich
grilled cheese  sandwich
veggie  sandwich