<a href="https://colab.research.google.com/github/MuhammadAwais9092/programming-assignment/blob/main/today3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
a=50
b=6
print("The amount of sticks she can buy from 50 is",(a//b))
print("the amount left is", (a%b))

The amount of sticks she can buy from 50 is 8
the amount left is 2

In [8]:
x= ('true')
y= ('false')
print("x and y is",x and y)

x and y is false

In [9]:
x= ('true')
y= ('false')
print("x or y is",x or y)

x or y is true

In [11]:
x1='asif'
y1='Asif'
x2= 5
y2= 5
x3=[6,5,4]
y3=[4,3,6]
print(x1 is not y1)
print(x2 is not y2)
print(x3 is y3)

True
False
False

In [30]:
print ("enter age")
age=int(input())
if age >= 18:
 print('your eloigable for vote')

enter age
17

In [ ]:
print ("enter age")
age=int(input())
if age >= 18:
 print('your eloigable for vote')
else:
  print("no")

In [43]:
x,y = 25,35
min = x
if x<y:
 min=x
else:
  min=y
print("the min value is "+str(min))

the min value is 25

In [49]:
#age program
print("Enter Age")
age= int(input())
if age <4:
  print("you are free")
elif age <18:
  print("give 25")
else: 
  print("give alot money ")

Enter Age
66
give alot money

In [54]:
a=10
b=15
list=[12,10,7,11]
if (a not in list):
  print("a is not in the loist")
else:
    print('a is in the list')
if (b in list):
  print("b is in the list")
else:
    print('b is not in the list')

a is in the list
b is not in the list

In [56]:
#names
name=['awais','good','bad']
print("hello, "+name[0].title()+"!")
print("hello, "+name[1].title()+"!")
print("hello, "+name[2].title()+"!")

hello, Awais!
hello, Good!
hello, Bad!

In [62]:
name=['bike','car','bus','train']
print("I ride on a "+name[3].title())
print("I go to school on a "+name[2].title())
print("I own a "+name[0].title())
print("I own more than three "+name[1].title()+"'s")

I ride on a Train
I go to school on a Bus
I own a Bike
I own more than three Car's

In [65]:
guest=['chips','juice','buiscuit']
guest[1]="tea"
print(guest)

['chips', 'tea', 'buiscuit']

In [68]:
guest=['chips','juice','buiscuit']
guest.insert(3,"tea")
guest.insert(0,"coffee")
print(guest)

['coffee', 'chips', 'juice', 'buiscuit', 'tea']